* {
	margin: 0;
	padding: 0;
}

img,
hr {
	max-width: 100%;
}

img {
	display: block;
}

/*base*/
.container__grid,
.container__video,
.grid__row,
.grid__divider,
.grid__col--1,
.grid__col--2,
.grid__col--3,
.grid__col--4,
.grid__col--5,
.grid__col--6,
.grid__col--7,
.grid__col--8,
.grid__col--9,
.grid__col--10,
.grid__col--11,
.grid__col--12,
.page__banner  {
	margin: 0 auto;
}

.grid__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.grid__col {
  position: relative;
}

.grid__col--12,
.container__video,
hr {
	width: 100%;
	margin: 0 auto;
}
